.container {
    display: flex;
    align-items: flex-start; /* Alinha os elementos ao topo da página */
    padding-top: 50px; /* Adiciona preenchimento na parte superior para afastar o conteúdo do topo da página */
}

.column {
    padding: 10px;
}

#buttonSelectorColumn {
    width: 33%; /* Define a largura da primeira coluna para ocupar um terço do espaço */
    display: flex; /* Adiciona display flex */
    flex-direction: column; /* Coloca os elementos em coluna */
    justify-content: flex-start; /* Alinha os elementos ao topo verticalmente */
}

.button-selector-wrapper {
    text-align: center; /* Centraliza horizontalmente */
}

#sortearBtn {
    display: block;
    width: calc(100% / 2); /* Define a largura para ocupar um terço da coluna */
    max-width: 200px; /* Define a largura máxima do botão */
    height: 80px; /* Define a altura do botão */
    padding: 20px 0; /* Aumenta a altura do botão e remove o padding horizontal */
    margin: 0 auto 10px auto; /* Centraliza horizontalmente e adiciona espaçamento inferior */
    font-size: 40px;
    background-color: #007bff; /* Cor azul para o botão "Sortear" */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#sortearBtn:hover {
    background-color: #0056b3;
}

#tableColumn {
    width: 67%; /* Define a largura da segunda coluna para ocupar dois terços do espaço */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.marked {
    background-color: #28a745 !important; /* Altera a cor de fundo das células marcadas */
}

.numero-sorteado {
    font-size: 30px; /* Tamanho da fonte padrão */
}

.numero-sorteado-grande {
    margin-top: 50px; /* Adiciona um espaçamento superior de 10px */
    font-size: 80px; /* Tamanho da fonte para o número sorteado */
}

.logo-imagem {
    width: 50%; /* Defina a largura da imagem como 50% */
    margin: auto; /* Centralize horizontalmente */
    display: block; /* Garanta que a imagem seja exibida como um bloco para aplicar o margin corretamente */
    padding-bottom: 30px; /* Adiciona espaçamento entre a imagem e o botão "Sortear" */
    padding-top: 30px; /* Adiciona espaçamento entre a imagem e o botão "Sortear" */
}

#novoJogoBtn {
    display: block;
    width: calc(100% / 2); /* Define a largura para ocupar um terço da coluna */
    max-width: 200px; /* Define a largura máxima do botão */
    height: 80px; /* Define a altura do botão */
    padding: 20px 0; /* Aumenta a altura do botão e remove o padding horizontal */
    margin: 0 auto 10px auto; /* Centraliza horizontalmente e adiciona espaçamento inferior */
    font-size: 40px;
    background-color: #28a745; /* Cor verde para o botão "Novo Jogo" */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#novoJogoBtn:hover {
    background-color: #218838;
}

#btnMarcarResultado {
    display: block;
    width: calc(100%); /* Define a largura para ocupar um terço da coluna */
    max-width: 400px; /* Define a largura máxima do botão */
    height: 70px; /* Define a altura do botão */
    padding: 20px 0; /* Aumenta a altura do botão e remove o padding horizontal */
    margin: 0 auto 10px auto; /* Centraliza horizontalmente e adiciona espaçamento inferior */
    font-size: 40px;
    background-color: #ffc107; /* Cor amarela para o botão "Marcar Resultado" */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#btnMarcarResultado:hover {
    background-color: #d39e00;
}
